# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Directorios de construcción
dist/
build/
.out/
*.tsbuildinfo

# Directorios de pruebas
coverage/
.nyc_output/

# Entorno
.env
.env.test
.env.production
.env.local

# Dependencias bloqueadas
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de salida
*.DS_Store
*.tgz
*.zip

# IDEs y editores
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Otros archivos no deseados
*.bak
*.tmp
*.log
